{% include '_row_header.html' %}
<div class="col-md-6">
    <div class="row">
        <div class="col-sm-6">
            <table class="stats ">
                <tr>
                    <th>{{ html_text['row_num_distinct_count'] }}</th>
                    <td>{{ values['distinct_count'] }}</td>
                </tr>
                <tr>
                    <th>{{ html_text['row_num_unique'] }} (%)</th>
                    <td>{{ values['p_unique'] }}</td>
                </tr>
                <tr class="{{ row_classes['p_missing'] }}">
                    <th>{{ html_text['row_num_p_missing'] }} (%)</th>
                    <td>{{ values['p_missing'] }}</td>
                </tr>
                <tr class="{{ row_classes['p_missing'] }}">
                    <th>{{ html_text['row_num_n_missing'] }} (n)</th>
                    <td>{{ values['n_missing'] }}</td>
                </tr>
                <tr class="{{ row_classes['p_infinite'] }}">
                    <th>{{ html_text['row_num_p_infinite'] }} (%)</th>
                    <td>{{ values['p_infinite'] }}</td>
                </tr>
                <tr class="{{ row_classes['p_infinite'] }}">
                    <th>{{ html_text['row_num_n_infinite'] }} (n)</th>
                    <td>{{ values['n_infinite'] }}</td>
                </tr>
            </table>

        </div>
        <div class="col-sm-6">
            <table class="stats ">

                <tr>
                    <th>{{ html_text['mean'] }}</th>
                    <td>{{ values['mean'] }}</td>
                </tr>
                <tr>
                    <th>{{ html_text['minimum'] }}</th>
                    <td>{{ values['min'] }}</td>
                </tr>
                <tr>
                    <th>{{ html_text['maximum'] }}</th>
                    <td>{{ values['max'] }}</td>
                </tr>
                <tr class="{{ row_classes['p_zeros'] }}">
                    <th>{{ html_text['p_zeros'] }} (%)</th>
                    <td>{{ values['p_zeros'] }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="col-md-3 collapse in" id="minihistogram{{ values['varid'] }}">
    <img src="{{ values['mini_histogram'] }}">

</div>
<div class="col-md-12 text-right">
    <a role="button" data-toggle="collapse" data-target="#descriptives{{ values['varid'] }},#minihistogram{{ values['varid'] }}"
       aria-expanded="false" aria-controls="collapseExample">
        {{ html_text['toggle_details'] }}
    </a>
</div>
<div class="row collapse col-md-12" id="descriptives{{ values['varid'] }}">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#quantiles{{ values['varid'] }}"
                                                  aria-controls="quantiles{{ values['varid'] }}" role="tab"
                                                  data-toggle="tab">{{ html_text['statistics'] }}</a></li>
        <li role="presentation"><a href="#histogram{{ values['varid'] }}" aria-controls="histogram{{ values['varid'] }}"
                                   role="tab" data-toggle="tab">{{ html_text['histogram'] }}</a></li>
        <li role="presentation"><a href="#common{{ values['varid'] }}" aria-controls="common{{ values['varid'] }}"
                                   role="tab" data-toggle="tab">{{ html_text['common_values'] }}</a></li>
        <li role="presentation"><a href="#extreme{{ values['varid'] }}" aria-controls="extreme{{ values['varid'] }}"
                                   role="tab" data-toggle="tab">{{ html_text['extreme_values'] }}</a></li>

    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active row" id="quantiles{{ values['varid'] }}">
            <div class="col-md-4 col-md-offset-1">
                <p class="h4">{{ html_text['quantile_statistics'] }}</p>
                <table class="stats indent">
                    <tr>
                        <th>{{ html_text['minimum'] }}</th>
                        <td>{{ values['min'] }}</td>
                    </tr>
                    <tr>
                        <th>{{ html_text['5th_percentile'] }}</th>
                        <td>{{ values['5%'] }}</td>
                    </tr>
                    <tr>
                        <th>{{ html_text['q1'] }}</th>
                        <td>{{ values['25%'] }}</td>
                    </tr>
                    <tr>
                        <th>{{ html_text['median'] }}</th>
                        <td>{{ values['50%'] }}</td>
                    </tr>
                    <tr>
                        <th>{{ html_text['q3'] }}</th>
                        <td>{{ values['75%'] }}</td>
                    </tr>
                    <tr>
                        <th>{{ html_text['95th_percentile'] }}</th>
                        <td>{{ values['95%'] }}</td>
                    </tr>
                    <tr>
                        <th>{{ html_text['maximum'] }}</th>
                        <td>{{ values['max'] }}</td>
                    </tr>
                    <tr>
                        <th>{{ html_text['range'] }}</th>
                        <td>{{ values['range'] }}</td>
                    </tr>
                    <tr>
                        <th>{{ html_text['iqr'] }}</th>
                        <td>{{ values['iqr'] }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <p class="h4">{{ html_text['descriptive_statistics'] }}</p>
                <table class="stats indent">
                    <tr>
                        <th>{{ html_text['std'] }}</th>
                        <td>{{ values['std'] }}</td>
                    </tr>
                    <tr>
                        <th>{{ html_text['cv'] }}</th>
                        <td>{{ values['cv'] }}</td>
                    </tr>
                    <tr>
                        <th>{{ html_text['kurtosis'] }}</th>
                        <td>{{ values['kurtosis'] }}</td>
                    </tr>
                    <tr>
                        <th>{{ html_text['mean'] }}</th>
                        <td>{{ values['mean'] }}</td>
                    </tr>
                    <tr>
                        <th>{{ html_text['mad'] }}</th>
                        <td>{{ values['mad'] }}</td>
                    </tr>
                    <tr class="{{ row_classes['skewness'] }}">
                        <th>{{ html_text['skewness'] }}</th>
                        <td>{{ values['skewness'] }}</td>
                    </tr>
                    <tr>
                        <th>{{ html_text['sum'] }}</th>
                        <td>{{ values['sum'] }}</td>
                    </tr>
                    <tr>
                        <th>{{ html_text['variance'] }}</th>
                        <td>{{ values['variance'] }}</td>
                    </tr>
                    <tr>
                        <th>{{ html_text['memorysize'] }}</th>
                        <td>{{ values['memorysize'] }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane col-md-8 col-md-offset-2" id="histogram{{ values['varid'] }}">
            <img src="{{ values['histogram'] }}"/>
        </div>
        <div role="tabpanel" class="tab-pane col-md-12" id="common{{ values['varid'] }}">
            {{ values['freqtable'] }}
        </div>
        <div role="tabpanel" class="tab-pane col-md-12"  id="extreme{{ values['varid'] }}">
            <p class="h4">{{ html_text['min_5_values'] }}</p>
            {{ values['firstn_expanded'] }}
            <p class="h4">{{ html_text['max_5_values'] }}</p>
            {{ values['lastn_expanded'] }}
        </div>
    </div>
</div>
{% include '_row_footer.html' %}