{% include '_row_header.html' %}
<div class="col-md-6">
    <div class="row">
        <div class="col-sm-6">
            <table class="stats ">
                <tr>
                    <th>{{ html_text['row_date_distinct_count'] }}</th>
                    <td>{{ values['distinct_count'] }}</td>
                </tr>
                <tr>
                    <th>{{ html_text['row_date_unique'] }} (%)</th>
                    <td>{{ values['p_unique'] }}</td>
                </tr>
                <tr class="{{ row_classes['p_missing'] }}">
                    <th>{{ html_text['row_date_p_missing'] }} (%)</th>
                    <td>{{ values['p_missing'] }}</td>
                </tr>
                <tr class="{{ row_classes['p_missing'] }}">
                    <th>{{ html_text['row_date_n_missing'] }} (n)</th>
                    <td>{{ values['n_missing'] }}</td>
                </tr>
                <tr class="{{ row_classes['p_infinite'] }}">
                    <th>{{ html_text['row_date_p_infinite'] }} (%)</th>
                    <td>{{ values['p_infinite'] }}</td>
                </tr>
                <tr class="{{ row_classes['p_infinite'] }}">
                    <th>{{ html_text['row_date_n_infinite'] }} (n)</th>
                    <td>{{ values['n_infinite'] }}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="stats ">
                <tr>
                    <th>{{ html_text['minimum'] }}</th>
                    <td>{{ values['min'] }}</td>
                </tr>
                <tr>
                    <th>{{ html_text['maximum'] }}</th>
                    <td>{{ values['max'] }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="col-md-3 collapse in" id="minihistogram{{ values['varid'] }}">
    <img src="{{ values['mini_histogram'] }}">
</div>
<div class="col-md-12 text-right">
    <a role="button" data-toggle="collapse" data-target="#descriptives{{ values['varid'] }},#minihistogram{{ values['varid'] }}"
       aria-expanded="false" aria-controls="collapseExample">
        {{ html_text['toggle_details'] }}
    </a>
</div>
<div class="row collapse col-md-12" id="descriptives{{ values['varid'] }}">
    <img src="{{ values['histogram'] }}">
</div>
{% include '_row_footer.html' %}