{% include '_row_header.html' %}
<div class="col-md-3">
    <table class="stats ">
        <tr class="{{ row_classes['distinct_count'] }}">
            <th>{{ html_text['row_cat_distinct_count'] }}</th>
            <td>{{ values['distinct_count'] }}</td>
        </tr>
        <tr>
            <th>{{ html_text['row_cat_unique'] }} (%)</th>
            <td>{{ values['p_unique'] }}</td>
        </tr>
        <tr class="{{ row_classes['p_missing'] }}">
            <th>{{ html_text['row_cat_p_missing'] }} (%)</th>
            <td>{{ values['p_missing'] }}</td>
        </tr>
        <tr class="{{ row_classes['p_missing'] }}">
            <th>{{ html_text['row_cat_n_missing'] }} (n)</th>
            <td>{{ values['n_missing'] }}</td>
        </tr>
    </table>
</div>
{{ values['minifreqtable'] }}
<div class="col-md-12 text-right">
    <a role="button" data-toggle="collapse" data-target="#freqtable{{ values['varid'] }}, #minifreqtable{{ values['varid'] }}"
       aria-expanded="true" aria-controls="collapseExample">
        {{ html_text['toggle_details'] }}
    </a>
</div>
<div class="col-md-12 extrapadding collapse" id="freqtable{{ values['varid']  }}">
    {{ values['freqtable'] }}
</div>
{% include '_row_footer.html' %}